<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="home">
          <img
            id="red-panda-gif"
            class="profile-pic"
            alt="Red Panda Animation"
            src=""
          />

          {{ content }}
          
          <div class="panda-credit">
            <small><em>Red panda animations by <a href="https://www.patreon.com/posts/98152976?collection=105111" target="_blank" rel="noopener noreferrer">Elthen</a> 🐾</em></small>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
